body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cuadro {
  background-color: bisque;
}

.tarjeta {
  background-color: white;
  border-radius: 0.05rem;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tarjeta img {
  width: 3rem;
  height: auto;
}